<div id="mapid"></div>
<script>  
  const currentPosition = JSON.parse("{{{currentPosition}}}")
   const routes = JSON.parse("{{{route}}}")
  const endPoint = JSON.parse("{{{endRoutePoint}}}")
  const startingPoint = JSON.parse("{{{startRoutePoint}}}")
      // Andorra
  var map = L.map("mapid").setView(startingPoint, 18);

  L.tileLayer('https://{s}.tile.openstreetmap.de/{z}/{x}/{y}.png', {
	maxZoom: 18,
	attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);

  // Rovinj
  //- var map = L.map("mapid").setView([45.0808344, 13.6383927], 8)
 

  L.circle(currentPosition, {radius: "{{{radius}}}", color: "#EE4B2B"}).addTo(map);

  const locationBounds = JSON.parse("{{{locationBounds}}}");
  L.rectangle(locationBounds).addTo(map);

  const proximityBounds = JSON.parse("{{{proximityBounds}}}");
  proximityBounds.forEach(bounds => L.rectangle(bounds).addTo(map))

  const edges = JSON.parse("{{{edges}}}");
  edges.forEach(edge => L.polyline(edge, {color: 'red'}).addTo(map))

  const closest = JSON.parse("{{{closestPoint}}}")
  L.circle(closest, {radius: 5, color: "#EE4B2B"}).addTo(map);

  routes.forEach(route => L.polyline(route, {color: 'red'}).addTo(map))

  var startMarker = new L.marker(startingPoint); //opacity may be set to zero
  startMarker.bindTooltip("Start point", {permanent: true }).openPopup();
  startMarker.addTo(map);

  var endMarker = new L.marker(endPoint); //opacity may be set to zero
  endMarker.bindTooltip("End point", {permanent: true }).openPopup();
  endMarker.addTo(map);

  const midpointLatLng = JSON.parse("{{{midpointLatLng}}}")
    L.curve(
    [
      'M', currentPosition,
      'Q', midpointLatLng,
        closest
    ], {
    color: 'rgba(255,255,255,0.5)',
    weight: 5,
    dashArray: '8, 8', dashOffset: '8'
  }).addTo(map);

  map.on('click', function(e) {
    const params = new Proxy(new URLSearchParams(window.location.search), {
      get: (searchParams, prop) => searchParams.get(prop),
    });
    let url = window.location.origin + `?precision=${params.precision}&lat=${e.latlng.lat}&lon=${e.latlng.lng}&radius=${params.radius}`

    


    window.location.href = url
  });

</script>